@import "tailwindcss";

html {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  background-color: #0f172a;
  color: #e2e8f0;
  overscroll-behavior-y: contain;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
