# Local login: export CODEARTIFACT_AUTH_TOKEN=$(AWS_PROFILE=product-lead aws codeartifact get-authorization-token --region us-west-2 --domain io --domain-owner 356364570033 --query authorizationToken --output text)
@io-kit:registry=https://io-356364570033.d.codeartifact.us-west-2.amazonaws.com/npm/io-kit/
//io-356364570033.d.codeartifact.us-west-2.amazonaws.com/npm/io-kit/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
